:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.head-container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}
.header {
  background: var(--white, #fff);
  border-bottom: 1px solid #e7e9fc;
}
address {
  font-style: normal;
}
.text-foot-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.link-slogan {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.list-link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.link {
  text-decoration: none;
}
.list-link-nav:hover,
.list-link-nav:focus {
  color: #404bbf;
}
.list-address:hover,
.list-address:focus {
  color: #404bbf;
}
.studio-black {
  color: var(--navyblue, #2e2f42);
}
.nav-white {
  color: var(--cloud, #f4f4fd);
}
.list {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 40px;
}
.list-step {
  display: flex;
  gap: 24px;
}
.list-snippet-step {
  width: calc((100% - 72px) / 4);
}
.headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.nav-link {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.head {
  background: var(--navyblue, #2e2f42);
  padding: 188px 0;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.list-address {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.img-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.name-team-works {
  padding: 32px 0;
}

.list-address :hover {
  color: #404bbf;
}
.list-address :focus {
  color: #404bbf;
}

.hed-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  max-width: 496px;

  line-height: 1.07;
  letter-spacing: 0.02em;
}
.btn-hed {
  background: var(--iris, #4d5ae5);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
}
.btn-hed:hover {
  background-color: #404bbf;
}
.btn-hed:focus {
  background-color: #404bbf;
}
.section-steap {
  padding: 120px 0;
}

.list-snipper-name {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}
.list-snippet-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-step-works {
  width: calc((100% - 48px) / 3);
}
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  font-size: 36px;
  font-style: normal;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.section-works {
  padding-bottom: 120px;
}
.head-line {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-style: normal;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.list-team {
  display: flex;
  gap: 24px;
}
.img-snippet {
  background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.footer {
  background: var(--navyblue, #2e2f42);
  padding: 100px 0;
}

.text-footer {
  color: var(--cloud, #f4f4fd);
  /* Body */

  font-size: 16px;
  font-style: normal;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}
